.footer-style {
    height: 400px;
    color: #ffffff;
    font-weight: bold;
}

i {
    font-size: 50px;
}

a {
    text-decoration: none;
    color: #ffffff;
}
.footer-mail {
    letter-spacing: 3px;
    font-size: 20px;
    cursor: pointer;
}
.footer-mail:hover, .footer-icon:hover {
    color: #EABABB;  
}
.footer-icon {
    font-size: 50px;
    cursor: pointer;
}
.footer-img {
    width: 350px;
}


@media (max-width: 768px) {
    .footer-mail {
        font-size: 16px;
    }
    .footer-icon {
        font-size: 40px;
    }
    .footer-img {
        width: 300px;
    }
  }
  