<div class="footer-style bg-dark h-100">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="col-12 row">
            <div class="col-lg-4 text-center order-3 order-lg-1 pt-3 pt-lg-0">
                <a class="" href="https://github.com/gisellem22" target="_blank">
                    <i class="fa fa-github-square  footer-icon" aria-hidden="true"></i>  
                </a>
                <a class="ml-4" href="https://www.linkedin.com/in/giselle-machado-gm/" target="_blank">
                    <i class="fa fa-linkedin-square  footer-icon" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-lg-4 text-center order-1 order-lg-2 pb-4 pb-lg-0">
                <img class="footer-img" src="../../../assets/img/logo-blanco.png" alt="">
            </div>
            <div class="col-lg-4 text-center contact-email order-2 order-lg-3 py-3 py-lg-0">
                    <a href="mailto:gisellemachadoyes@gmail.com" class="footer-mail"><p>gisellemachadoyes@gmail.com</p></a>
            </div>
        </div>
    </div>
</div>