<div class="footer-style bg-dark">
    <div class="h-100 d-flex align-items-center">
        <div class="col-12 row">
            <div class="col-4 text-center">
                <a class="my-link" href="https://github.com/gisellem22" target="_blank">
                    <i class="fa fa-github-square" aria-hidden="true"></i>  
                </a>
                <a class="ml-4 my-link" href="https://www.linkedin.com/in/giselle-machado-gm/" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-4 text-center">
                <img style="width: 350px;" src="../../../assets/img/logo-blanco.png" alt="">
            </div>
            <div class="col-4 text-center contact-email">
                    <a href="mailto:gisellemachadoyes@gmail.com" class="my-link"><p>gisellemachadoyes@gmail.com</p></a>
            </div>
        </div>
    </div>
</div>