.contact-img {
    width: 400px;
}
.contact-text {
    margin-top: -2rem;
}
.contact-mail {
    font-size: 36px;
    cursor: pointer;
    color: #F16575;
}
.contact-mail:hover {
    color: #E61A55;
    text-decoration: none;
}

.contact-icon:hover {
    color: #f1818f;
    text-decoration: none;
}
.contact-icon {
    color: #F16575;
    font-size: 50px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .contact-img {
        margin-top: 2rem;
        width: 300px;
    }
    .contact-text {
        margin-top: 2rem;
    }
    .contact-mail {
        font-size: 20px;
    }
    .contact-icon {
        font-size: 40px;
    }
  }
  