<div *ngIf="loading" style="height:80vh;">
    <div class="h-100 d-flex justify-content-center">
        <div class="d-flex align-items-center ">
            <div class="spinner-border text-secondary" style="width: 4rem; height: 4rem;" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div class="spinner-grow text-secondary" style="width: 4rem; height: 4rem;" role="status">
                <span class="sr-only">Loading...</span>
              </div>    
        </div>    
    </div>
</div>
<div class="container first-section">
  <div class="part-one">
    <div class="row mb-5">
        <div class="col-md-6 d-flex">
            <div class="d-flex align-items-center">
               <div *ngIf="!loading">
                <h1>Me llamo Giselle Machado.</h1>
                <h1 class="mb-4">Soy Front-end Developer.</h1>
                <p style="line-height: 30px;">Soy brasileña y actualmente vivo en Santiago de Chile.</p>
                <p style="line-height: 30px;">Me encantan los desafíos y la lógica. Estoy siempre buscando aprender nuevas tecnologías y herramientas para crear soluciones y convertir ideas en proyectos reales.</p>
            </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <img [hidden]="loading" (load)="onLoad()" class="profile-pic rounded" src="../../../assets/img/profile-gm.jpg" alt="Giselle Machado">
            </div>
        </div>
    </div>
  </div>
</div>
<div class="bg-pink py-3 second-section">
    <div class="h-100 d-flex justify-content-center">
        <div class="d-flex align-items-center">
            <div class="container mx-0 mx-md-5 text-center">
                <h1 class="mb-4">Habilidades & Herramientas</h1>
            <p class="mx-5 mb-4" style="line-height: 30px;">HTML5, CSS3, JS, node js, firebase, Angular</p>
            <a href="https://drive.google.com/open?id=1hmxT6vTEP93Vxfn6FAXiB6mmqy9wI4Ut" 
            class="btn btn-dark px-5" role="button">
            Puedes ver mi CV aquí <i class="material-icons align-bottom pl-1">cloud_download</i>
            </a>
            </div>
        </div>
    </div>
</div>
<div class="container h-100">
    <div class="row d-flex justify-content-center pt-md-2">
        <div class="col-md-3 circle-top">
            <div class="row d-flex justify-content-center">
                <div class="col-4 col-md-12 text-right mb-3" title="HTML 5">
                    <i class="devicon-html5-plain skills-icon"></i>
                </div>
                <div class="col-4 col-md-12 text-right mb-3 mt-md-5" title="CSS 3">
                    <i class="devicon-css3-plain skills-icon"></i>
                </div>
                <div class="col-4 col-md-12 text-right mb-3 mt-md-5" title="SASS">
                    <i class="devicon-sass-original skills-icon"></i>
                </div>
            </div>        
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-4 text-center mt-md-5" title="JAVASCRIPT">
                            <i class="devicon-javascript-plain skills-icon"></i>
                        </div>
                        <div class="col-4 text-center mb-md-3" title="ANGULAR">
                            <i class="devicon-angularjs-plain skills-icon"></i>
                        </div>
                        <div class="col-4 text-center mt-md-5" title="TYPESCRIPT">
                            <i class="devicon-typescript-plain skills-icon"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center pb-md-1 pt-3 pt-md-0" title="GISELLE MACHADO | FRONTEND DEVELOPER">
                    <img class="img-fluid" src="../../../assets/img/woman-working.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-3 circle-top">
            <div class="row d-flex justify-content-center">  
                <div class="col-4 col-md-12 mb-3" title="NODE JS">
                    <i class="devicon-nodejs-plain skills-icon"></i>
                </div>
                <div class="col-4 col-md-12 mb-3 mt-md-5" title="BOOTSTRAP">
                    <i class="devicon-bootstrap-plain skills-icon"></i>
                </div>
                <div class="col-4 col-md-12 mb-3 mt-md-5" title="VS CODE">
                    <i class="devicon-visualstudio-plain skills-icon"></i>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-4 text-center" title="GIT">
                            <i class="devicon-git-plain skills-icon"></i>
                        </div>
                        <div class="col-4 text-center mt-md-5" title="GITLAB">
                            <i class="devicon-gitlab-plain skills-icon"></i>
                        </div>
                        <div class="col-4 text-center" title="GITHUB">
                            <i class="devicon-github-plain skills-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
