<div class="container w-100 d-flex justify-content-center" style="height: calc(100% - 133px);">
    <div class="row d-flex justify-content-center align-items-center h-100 px-0 w-100">
        <div class="col-md-6">
            <h1>VER MIS PROYECTOS</h1>
            <p>Proyectos desarrollados por mi que son muy lindos</p>
        </div>
        <div class="col-md-6 w-100" routerLink="/projects">
                <img class=" img-fluid" src="../../../assets/img/projects.png" alt="">
        </div>
    </div>
</div>
<app-footer></app-footer>