<div class="container w-100 home-size">
    <div class="row align-items-center d-flex justify-content-center px-0 w-100" routerLink="/projects">
        <div class="col-md-6">
            <h1>VER MIS PROYECTOS</h1>
            <p>Proyectos desarrollados por mi que son muy lindos</p>
        </div>
        <div class="col-md-6 w-100 text-center">
                <img class=" img-fluid" src="../../../assets/img/projects.png" alt="">
        </div>
    </div>    
</div>
<div class="bg-pink h-100 my-5">
    <div class="container h-100">
        <div class="row d-flex align-items-center h-100 px-0 w-100" routerLink="/about">
            <div class="col-md-6">
                <h1>Sobre Mi</h1>
                <p>Me llamo Giselle Machado y soy Front-end Developer. Te cuento más sobre mi.</p>
            </div>
            <div class="col-md-6 w-100 text-center">
                <img class=" img-fluid" src="../../../assets/img/woman-working.png" alt="">
            </div>
        </div>    
    </div>
</div>
<div class="container h-100">
    <div class="row e-flex align-items-center justify-content-center h-100 px-0 w-100" routerLink="/contact">
        <div class="col-md-6">
            <h1>DIME HOLA</h1>
            <p>Si quieres entrar en contacto para hablar sobre un nuevo proyecto o solo decir hola, envíame un correo.</p>
        </div>
        <div class="col-md-6 w-100 text-center">
                <img class=" img-fluid" src="../../../assets/img/say-hi-icon-2.png" alt="">
        </div>
    </div>
</div>

   

<app-footer></app-footer>