.project-card {
    height: 400px;
}

.pink {
    background-color: #FE90D2;
}
.green {
    background-color: #64DEA3;
}
.yellow {
    background-color: #FFDA67;
}
.light-purple {
    background-color: #ac53f2;
}
.purple {
    background-color: #7952B3;
}
.blue {
    background-color: #3b5998;
}

.project-img {
    max-width: 270px;
}

.project-img-sm {
    max-width: 200px;
}