<div class="container-fluid">
    <div class="row p-3 mb-5">
        <div class="col-md-4 mb-4">
            <div class="col-12 project-card yellow d-flex align-items-center">
                <div class="col-12 text-center">
                    <p>Project 1</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="col-12 project-card bg-pink d-flex align-items-center">
                <div class="col-12 text-center">
                    <p>Project 2</p>
                </div>
            </div>
        </div>
        <div class="col-md-4  mb-4">
            <div class="col-12 project-card bg-green d-flex align-items-center">
                <div class="col-12 text-center">
                    <p>Project 3</p>
                </div>
            </div>   
        </div>
        <div class="col-md-4">
            <div class="col-12 project-card bg-dark-pink d-flex align-items-center">
                <div class="col-12 text-center">
                    <p>Project 4</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-12 project-card bg-blue d-flex align-items-center">
                <div class="col-12 text-center">
                    <p>Project 5</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-12 project-card bg-red d-flex align-items-center">
                <div class="col-12 text-center">
                    <p>Project 6</p>
                </div>
            </div>        
        </div>
    </div>
</div>