<div *ngIf="!loading" class="loading">
    <div class="h-100 d-flex justify-content-center">
        <div class="d-flex align-items-center ">
            <div class="spinner-border text-secondary" style="width: 4rem; height: 4rem;" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div class="spinner-grow text-secondary" style="width: 4rem; height: 4rem;" role="status">
                <span class="sr-only">Loading...</span>
              </div>    
        </div>    
    </div>
</div>
<div class="container-fluid">
    <div class="row p-3 mb-5">
        <div class="col-md-6 col-lg-4 mb-4 card-container" *ngFor="let project of projects">
            <div class="card-flip col-12 px-0">
                <div class="col-12 project-card front d-flex align-items-center"
                [ngClass]="project.class">
                    <div class="col-12 text-center">
                        <img class="project-img" 
                        [ngClass]="project.size==='sm'? 'project-img-sm' : 'project-img'" [src]="project.img" 
                        alt="project.name">
                    </div>
                </div>
                <div class="project-card back" [ngClass]="project.class">
                    <div class="p-3 h-100 d-flex align-content-between flex-wrap justify-content-between">
                        <h1 class="text-uppercase text-center">{{project.name}}</h1>
                        <div class="inner-card rounded">
                            <p class="p-3 mb-0">{{project.text}}</p>
                        </div>
                            <a [href]="project.code" class="card-link"
                            target="_blank"> < CODIGO > </a> 
                            <a [href]="project.demo? project.demo : project.npm" class="card-link"
                            target="_blank"> < DEMO > </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>
