.project-card {
    height: 400px;
}

.pink {
    background-color: #FFEEDA;
}
.green {
    background-color: #64DEA3;
}
.yellow {
    background-color: #FFDA67;
}
.dark-pink {
    background-color: #EABABB;
}
.red {
    background-color: #F34F50;
}
.blue {
    background-color: #6F8CC4;
}