@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: #555555;
    font-size: 19px;
    font-weight: 300;
}
.loading {
    height: calc(100vh - 136px);
}
.bg-pink {
    background-color: #FFEEDA;
}
.bg-green {
    background-color: #64DEA3;
}
.bg-yellow {
    background-color: #FFDA67;
}
.bg-dark-pink {
    background-color: #EABABB;
}
.bg-red {
    background-color: #F34F50;
}
.bg-blue {
    background-color: #6F8CC4;
}


/* ABOUT SECTION */

.profile-pic {
    width: 400px;
}
.circle-top {
    margin-top: 8rem;
}


 /* CONTACT SECTION */

.contact-img {
    width: 400px;
}
.contact-text {
    margin-top: -2rem;
}
.contact-mail {
    font-size: 36px;
    cursor: pointer;
    color: #7952B3;
}
.contact-mail:hover {
    color: #9983E2;
}
.contact-icon {
    color: #343A40;
    font-size: 50px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .profile-pic {
        width: 300px;
    }
    .contact-img {
        width: 300px;
    }
    .circle-top {
        margin-top: 2rem !important;
    }
  }
  